html, body {
  height: 100%;
  width: 100%;
}
.grid-king {
display: grid;
     grid-template-areas: 
       "he he he2 he2"
       "na ma ma ma"
       "na ma ma ma" 
       "fo fo fo fo";
  gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,auto-fill);
}

.grid-king > * {
  background-color: rgba(123, 244, 254);
  border-radius: 10px;
  padding: 10px;
}
.header {
  grid-area: he;
}
.header2 {
  grid-area: he2;
}
.main {
  grid-area: ma;
}
.nav {
  grid-area: na;
}
.footer {
  grid-area: fo;
}
ul {
text-decoration:none;
}
a:hover {
  color: #ff0033;
  font-size: 150%;
  text-decoration:none;
  list-style: none;
}
a:link {
text-decoration: none;
}
.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.waivy{
  text-decoration: green wavy underline;
}
.highlighted{
   color:red;
  font-size: 120%;
}
.article {
  background: linear-gradient(
    to right, 
    hsl(324, 100%, 49%), 
    hsl(40, 100%, 49%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.purple{
  color: RGB(109, 0, 156);
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself, this code I modified from w3schools */
.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #003DD5; /* background */
  outline: none; /* Remove outline */
  opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #DAFFFC; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}